/* ALL */
body {
    margin: 0;
    background-color: rgba(249, 250, 251, 0.6);
}

.container-fluid {
    padding: 0;
}

/* STYLE HEADER */
#header {
    background-color: #115e59;
    padding: 20px 24PX;
}

.hospitalName,
.headerDay,
.headerDate,
.hospitalItem {
    font-family: "JetBrains Mono", monospace;
}

/* Kiri */
.hospitalName {
    font-size: 12px;
    color: #46ecd5;
    letter-spacing: 1.2px;
    margin-bottom: 2px;
}

.hospitalTitle {
    color: white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.5px;
    font-family: "DM Serif Display", serif;
    font-weight: 600;
    font-style: normal;
}

/* Tengah */
.headerItem {
    min-width: 130px;
    padding: 0 25px;
    border-left: 1px solid #0f766e;
    color: #46ecd5;
}

.headerItem:first-child {
    border-left: none;
}

.headerNumber {
    font-size: 24px;
    font-weight: 700;
}

.headerNumber:hover {
    color: white;
}

.headerStatus {
    font-size: 12px;
    font-family: "Outfit", sans-serif;
}

/* Kanan */
.headerDay {
    font-size: 12px;
    color: #46ecd5;
}

.headerDate {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

/* STYLE DOCTORS ON DUTY */
.doctors-section {
    padding: 32px 24px;
    margin-top: -10px;
}

.section-header {
    margin-bottom: 15px;
}

.section-header h2 {
    font-size: 18px;
    font-weight: 600;
    font-family: "DM Serif Display", serif;
    margin: 0;
}

/* Tempat 6 dokter */
.doctor-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

/* Card dokter */
.doctor-card {
    border-radius: 10px;
    padding: 15px 0;
}

.doctor-card:hover {
    border: 1.2px solid rgb(150, 255, 236);
    box-sizing: border-box;
}

/* Foto */
.doctor-photo {
    width: 48px;
    height: 48px;
    margin: 0px 15px;
    object-fit: cover;
}

/* Nama */
.doctor-card .card-title {
    margin-bottom: 5px;
    font-size: 12px;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
}

/* Specialty */
.doctor-card .card-text {
    font-size: 12px;
    margin-bottom: 5px;
    color: rgb(13, 148, 136);
    font-family: "Outfit", sans-serif;
}

/* List */
.doctor-card ul {
    margin-top: -10px;
}

.doctor-card .list-group-item {
    font-size: 12px;
    padding: 6px 10px;
}

/* Room */
.doctor-card .item-room {
    color: #99a1af;
    font-family: "JetBrains Mono", monospace;
}

.list-group .item-status {
    padding-top: 10px;
}

/* Active */
.doctor-card .doctor-active {
    background-color: rgb(204, 251, 241);
    color: rgb(15, 118, 110);
    font-family: "JetBrains Mono", monospace;
    border-radius: 3px;
    padding: 3px 5px;
    margin-right: 3px;
}

/* Wait */
.doctor-card .doctor-wait {
    margin-left: 3px;
    padding: 3px 5px;
    background-color: #fffbeb;
    color: #e17100;
    font-family: "JetBrains Mono", monospace;
    border-radius: 3px;
}

/* STYLE DOCTORS SCHEDULE*/


/* STYLE QUEUE LIST*/
.primaryButton-custom {
    color: #8E8E93;
    background-color: white;
    border-style: solid;
    border-color: #8E8E93;
}

.primaryButton-custom-select {
    color: #8E8E93;
    background-color: white;
    border-style: solid;
    border-color: #8E8E93;
}

.primaryButton-custom:hover {
    color: #8E8E93;
    background-color: #F2F2F2;
    border-style: solid;
    border-color: #8E8E93;
}

.primaryButton-custom-select:hover {
    color: #8E8E93;
    background-color: #F2F2F2;
    border-style: solid;
    border-color: #8E8E93;
}

/* STYLE BOOK A CONSULTATION*/
#bookAConsultation {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 60px;
    background-color: white;
    padding: 32px;
    border: 1px solid;
    border-radius: 16px;
    border-color: white;
}
.book {
    margin-top: 10px;
    margin-left: 180px;
    margin-right: 180px;
}
.judul {
    font-family: "DM Serif Display", serif;
    font-size: 25px;
    font-weight: 600;
}
.rose {
    color: oklch(0.712 0.194 13.428);
}

.form-label {
    color: oklch(0.707 0.022 261.325);
    font-family: "JetBrains Mono", monospace;
}

.text-xs {
    color: oklch(0.707 0.022 261.325);
    font-family: Outfit, sans-serif;
    font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
    .doctor-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .headerQueue {
        display: none;
    }
}

@media (max-width: 640px) {
    .headerRight {
        display: none;
    }
}

@media (max-width: 576px) {
    .hospitalName {
        font-size: 10px;
    }

    .hospitalTitle {
        font-size: 15px;
    }

    .doctor-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 425px) {
    .doctor-list {
        grid-template-columns: 1fr;
    }
}
